@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario:#122faf7d;
    --color-secundario:#F6F6F6;
    --color-terciario:#798ce9;
    --color-hover: #7486ea;
    --color-footer: #1d2848;

    --fuente-montserrat:"Montserrat", sans-serif;
    --fuente-krona:"Krona One", sans-serif
}

*{
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

body {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
}

.presentacion__log{
    padding: 1rem;
}

/*.presentacion{
    display: flex;
    flex-direction:row;
    align-items: center;
    padding: 5% 12%;
}*/

.presentacion__text_area{
    font-family: var(--fuente-montserrat);
    font-size: 1.3rem;
    resize:unset;
    background-color: var(--color-secundario);
    display: flex;
    flex-direction:row;
    text-align: justify;
    width: 18.875rem;
    margin: 13rem;
    margin-top: 02rem;
    height: 2.75rem;
}

.presentacion__section{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.presentacion__nota{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.5rem;
    position: absolute;
    width: 50%;
    height: 67px;
    left: 13.4375rem;
    top: 780px;
    font-family: var(--fuente-montserrat);
    font-size: .95rem;
}

.presentacion__botones{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
    position: absolute;
    left: .625rem;
    top: 51.125rem;
    width: 45%;
    margin: 0 11.75rem;
    font-family: var(--fuente-montserrat);
    font-size: 30%;
}

.presentacion__boton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 5rem;
    background: #0A3871;
    border-radius: 1.5rem;
    border-color: #0A3871;
    color: var(--color-secundario);
    cursor: pointer;
}

.presentacion__boton1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 5rem;
    background: #898989;
    border-radius: 1.5rem;
    border-color: #0A3871;
    color: var(--color-secundario);
    cursor: pointer;
}

.presentacion__caja{
    position:absolute;
    width: 25rem;
    height: 55rem;
    left: 75rem;
    top: 2.5rem;
    box-shadow: 0rem 1.5rem 2rem -0.5rem var(--color-secundario);
    border-radius: 2rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    /*visibility:visible;*/
}

.presentacion__caja__imagen{
    padding: 2rem;
}

.presentacion__caja__texto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 400px;
    height: 122px;
    left: 1032px;
    top: 619px;
    font-family: var(--fuente-montserrat);
    text-decoration: none;
    color: var(--color-secundario);
    text-align: center;
}

.presentacion__caja__texto1{
    height: 58px;
    font-size: 1.5rem;
    font-weight: 700;
}

.presentacion__caja__texto2{
    height: 48px;
    font-size: 1rem;
    font-weight: 400;
}

.presentacion__caja__encriptado{
    position:absolute;
    width: 25rem;
    height: 55rem;
    left: 75rem;
    top: 2.5rem;
    box-shadow: 0rem 1.5rem 2rem -0.5rem var(--color-secundario);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
}

.presentacion__encriptado{
    font-family: var(--fuente-montserrat);
    font-size: 1.3rem;
    resize:unset;
    background-color: var(--color-secundario);
    display: flex;
    flex-direction:row;
    text-align: justify;
    width: 18.875rem;
    height: 2.75rem;
    margin-bottom: auto;
    margin-top: 4.5rem;
}

.presentacion__boton2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 5rem;
    background: #898989;
    border-radius: 1.5rem;
    border-color: #0A3871;
    color: var(--color-secundario);
    cursor: pointer;
    margin-bottom: 2rem;
}

/*
@media (max-width: 1200px) {

    .presentacion__log{
        padding: 10%;
    }

    .presentacion{
        justify-content: center;
    }

    .presentacion__text_area{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentacion__nota{
        width: auto;
    }

    .presentacion__botones{

    }
}
    .presentacion__boton1{

    }

    .presentacion__boton2{
        
    }

    .presentacion__boton2:disabled{

    }

    .presentacion__caja{

    }
    .presentacion__caja__imagen{

    }
    
    .presentacion__caja__texto{

    }

    .presentacion__caja__texto1{

    }

    .presentacion__caja__texto2{

    }
    */